@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,800;1,500;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main-color: #ffffff;
  --logo-color: #000;
  --nav-link: rgb(51, 51, 51);
  --bg--color: #ffffff;
  --fotter-bg: #5452a299;
}
.chang {
  --main-color: #000;
  --logo-color: #ffffff;
  --nav-link: rgb(240, 238, 238);
  --bg--color: crimson;
  --fotter-bg: #070148;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.container {
  /* max-width: 1180px; */
  width: 82%;
  margin-inline: auto;
  padding: 0 2%;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

nav {
  position: fixed;
  background-color: var(--main-color);
  box-shadow: 0 0 4px #2f2f2f;
  top: 0;
  z-index: 90;
  left: 0;
  right: 0;
}

.header {
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 10px;
}

.logo {
  font-size: 20px;
  color: var(--logo-color);
}

.nav-links ul {
  gap: 40px;
}

.nav-links ul li a {
  color: var(--nav-link);
  transition: color 0.3s;
  cursor: pointer;
}

.nav-links a:hover {
  color: #e4287c;
}

.corner {
  gap: 20px;
}

.corner i {
  color: var(--logo-color);
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.corner i:hover {
  color: #e4287c;
}
i.turn {
  font-size: 28px;
}
.search {
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.search input {
  flex: 1;
  margin-right: 15px;
  border: none;
  border-bottom: 1px solid var(--logo-color);
  font-size: 15px;
  padding: 3px 3px 0;
  background: var(--main-color);
  color: var(--logo-color);
  letter-spacing: 0.5px;
}
.search input:hover {
  border-bottom: 2px solid crimson;
}
.menu {
  display: none;
}

.menu i {
  font-size: 20px;
  color: var(--logo-color);
  cursor: pointer;
}
i.fa-xmark {
  font-size: 25px;
}

/* --------------- Front Page --------------- */

main {
  min-height: 100vh;
  padding-top: 100px;
  align-items: center;
  text-align: left;
}

.bgimg {
  background: url(header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  margin: 200px auto 0;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.content h6 {
  margin: 0 auto 6px;
  color: #e4287c;
  font-size: 16px;
  letter-spacing: 0.5px;
  /* font-weight: 500; */
}

.content h1 {
  font-size: 70px;
  line-height: 80px;
}

.content h5 {
  margin: 0 0 22px;
  font-style: italic;
  color: rgb(51, 51, 51);
}

.btn button {
  padding: 10px 25px;
  border: 1px solid black;
  letter-spacing: 1px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background: white;
  transition: background 0.3s;
}

/* --------------  Product-List --------------  */

section {
  /* border:1px solid red; */
  width: 100%;
  padding: 60px 0 30px;
}

.Trend {
  background: var(--main-color) !important;
  border-bottom: 2px solid var(--logo-color);
}

.heading {
  padding-top: 10px;
  text-align: center;
}
.heading h1 {
  color: var(--logo-color);
}

span {
  color: #e4287c;
}

.trend-product {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.product-list {
  margin: 50px 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.product {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.img img {
  width: 100%;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star {
  display: flex;
}

.fa-star {
  color: goldenrod;
}

.fa-heart {
  color: red;
  font-size: 18px;
  cursor: pointer;
}
.red-heart {
  color: red;
}

.product-name {
  text-align: left;
  padding: 6px 0;
  color: gray;
}

.price p {
  color: var(--logo-color);
  font-size: 15px;
  text-align: left;
  font-weight: bold;
}
.img img {
  position: relative;
}

.img img:hover {
  transform: scale(0.95);
  transition: transform 0.5s;
}

/* --------------- Upcoming Product --------------- */

.Update {
  background: var(--main-color) !important;
}
.update-content {
  margin: 50px 0 0;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  /* overflow: hidden; */
}

/* .boxes:hover {
  box-shadow: 0 0 10px red;
} */

.upd-img img {
  width: 100%;
  border-radius: 5px;
}

.details {
  padding: 0 10px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.date {
  color: gray;
}

.update-head {
  font-weight: bolder;
}

.explanation p {
  color: gray;
  font-size: 13px;
}

.cont-read {
  margin: 10px 0 0;
  color: rgb(66, 65, 65);
  font-size: 15px;
}
.cont-read h4:hover {
  cursor: pointer;
  color: crimson;
  transition: color 0.5s ease;
}

/* --------------- Fotter Content --------------- */

footer {
  width: 100%;
  background: #180336c8;
  /* margin: 50px 0 0; */
}
.fotter-link {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.update {
  background-color: var(--fotter-bg);
  padding-top: 25px;
}

.up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


footer i {
  color: var(--logo-color);
  font-size: 20px;
  margin-right: 15px;
  padding: 10px;
  border: 2px solid var(--logo-color);
  border-radius: 50%;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h3 {
  color: var(--logo-color);
  text-transform: capitalize;
}
.Suscribe{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Suscribe input {
  background: transparent;
  border: 1px solid var(--logo-color);
  color: var(--logo-color);
  width: 160px;
  height: 40px;
  font-size: 15px;
  padding: 0 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.Suscribe button {
  margin: 0 8px;
  background: #ffffff;
  color: rgb(122, 121, 121);
  width: 180px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.Suscribe button:hover{
  box-shadow: 0 0 10px var(--logo-color);
  transition: box-shadow 0.3s;
}

.down {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  color: var(--logo-color);
  align-items: center;
  text-align: center;
}

.box h2 {
  margin: 8px 0;
}

.box h5 {
  padding: 8px 0;
}

.box i:hover{
  box-shadow:0 0 15px red;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.footer {
  width: 100%;
  background-color: var(--main-color);
  color: var(--logo-color);
  padding: 10px 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* --------------------- Media Quuerry --------------------- */

@media screen and (max-width: 1000px) {

  .header-content {
    margin: 160px auto 0;
  }

  .content h1 {
    font-size: 60px;
    line-height: 75px;
  }

  .nav-links {
    display: block;
    position: absolute;
    top: -700px;
    left: 0;
    right: 0;
    border-top: 1px solid var(--logo-color);
    border-bottom-right-radius: 80px;
    transition: top 0.5s ;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    background-color: var(--bg--color);
    padding: 20px 0 25px;
    backdrop-filter: blur(10px);
  }
  
  .show {
    top: 55px;
  }

  .menu {
    display: block;
  }
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .update-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .up {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .title{
    align-items: center;
    text-align: center;
  }
  .title h3{
    font-size: 18px;
  }
  .Suscribe{
    padding-top: 20px;
  }
  .Suscribe input {
    width: 140px;
    height: 35px;
    font-size: 12px;
  }
  .Suscribe button {
    margin: 0 5px;
    width: 150px;
    height: 35px;
    font-size: 13px;
  }
  .box h2{
    font-size: 15px;
  }
  .box h5{
    font-size: 12px;
  }
  footer i {
    font-size: 16px;
    padding: 8px;
  }

}

@media screen and (max-width:670px){
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width:581px){

  .header-content {
    margin: 140px auto 0;
  }

  .content h1 {
    font-size: 50px;
    line-height: 65px;
  }
  
  .nav-links ul{
    padding: 90px 0 25px;
  }
  .search{
    display: block;
    position: absolute;
    top: 90px;
    left: -1100px;
    right: 0;
    margin: 0 auto;
    transition: left 0.8s ease ;
  }
  .search input{
    font-size: 22px;
    background-color: var(--bg--color);
  }
  .slide{
    left: 0;
  }
  /* .product-list {
    grid-template-columns: repeat(2, 1fr);
  } */
  .update-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .title{
    align-items: center;
    text-align: center;
  }
  .title h3{
    font-size: 15px;
  }
  .Suscribe input {
    width: 120px;
    height: 30px;
    font-size: 10px;
  }
  .Suscribe button {
    margin: 10px 0;
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .box h2{
    font-size: 12px;
  }
  .box h5{
    font-size: 10px;
  }
  footer i {
    font-size: 14px;
    padding: 6px;
  }
  .footer p{
    font-size: 16px;
  }

}

@media screen and (max-width:475px){
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:375px){

  .fa-toggle-off{
    font-size: 15px;
  }
  .fa-toggle-on{
    font-size: 15px;
  }
  .menu i{
    font-size: 20px;
  }
  i.fa-xmark {
    font-size: 25px;
  }
  .search input{
    font-size: 15px;
  }
  .fa-search{
    font-size: 10px;
  }

  .header-content {
    margin: 120px auto 0;
  }

  .content h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .Suscribe input {
    width: 90px;
    height: 30px;
    font-size: 10px;
  }
  .Suscribe button {
    margin: 10px 0;
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .down {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }

  footer i {
    font-size: 12px;
    padding: 5px;
  }
  .footer p{
    font-size: 13px;
  }
}

@media screen and (max-width:325px){
  .search input{
    font-size: 12px;
  }
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .down {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
  .footer p{
    font-size: 10px;
  }
}